.categories {
  list-style: none;
  margin: 0 0 1.25rem;
  padding: 0;

  &__button:focus,
  &__button {
    font-size: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    border: .1875rem solid transparent;
    padding: .9375rem;
    margin-bottom: .125rem;
    cursor: pointer;
    outline: none;
  }

  &__button:hover {
    border-color: darken($grey, 10);
  }

  &__button.selected {
    border-color: $primary;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    color: $primary;
    margin-right: 1.25rem;
  }
}