$red: #FF4040;
$grey: #F2F2F2;
$navy: #00033F;
$primary: #ED682D;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: $grey;
  font-size: 16px;
  color: $navy;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
}

.logo {
  width: 105px;
  height: 20px;
  margin: 0 auto 2.5rem;
  display: block;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-top: 100px;
  
  .content {
    width: 24rem;
    margin: 0 auto 1.25rem;

    @media (max-width: 430px) {
      width: 100%;
    }
  }
}

.card {
  background: white;
  padding: 1.25rem;
  margin-bottom: 1.25rem;

  p {
    margin: 0 0 10px;
  }

  p:last-child {
    margin: 0;
  }
}

.button {
  font-weight: bold;
  padding: .9375rem;
  border: 0;
  width: 100%;
  outline: none;
  cursor: pointer;
  margin-bottom: .625rem;
  font-size: inherit;

  &--primary {
    color: white;
    background: $primary;
  }

  &--primary:hover {
    background: darken($primary, 5);
  }

  &--secondary {
    color: darken($grey, 50);
    background: $grey;
  }

  &--secondary:hover {
    background: darken($grey, 5);
  }

  &--fixed-width {
    max-width: 300px;
  }
}

.categories {
  list-style: none;
  margin: 0 0 1.25rem;
  padding: 0;

  &__card {
    display: flex;
    align-items: center;
    border: 3px solid transparent;
    padding: .9375rem;
    margin-bottom: .125rem;
  }

  &__card:hover {
    border-color: darken($grey, 10);
  }

  &__card.selected {
    border-color: $primary;
  }

  &__icon {
    width: 40px;
    height: 40px;
    color: $primary;
    margin-right: 1.25rem;
  }
}

.products {
  list-style: none;
  margin: 0;
  padding: 0;

  &__card {
    display: block;
  }

  &__card-header {
    display: flex;
    align-items: center;
    margin-bottom: .9375rem;
  }

  &__header-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: lighten($primary, 30);
  }

  &__header-title {
    margin-left: .9375rem;
    font-weight: bold;
  }

  &__description {
    font-size: .875rem;
    margin-bottom: .625rem; 
  } 

  &__variant:last-child {
    margin-bottom: 0;
  }
}

.radio-input {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;

  input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  &__control {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid currentColor;
  }

  &__label {
    margin-left: 10px;
  }

  &__label &__sub-label {
    font-size: 13px;
    color: darken($grey, 40);
    margin-top: 3px;
  }

  &__label &__price {
    font-weight: bold;
  }

  input[type="radio"]:checked ~ &__control {
    border-color: $primary;
    background: radial-gradient($primary 50%, transparent 51%);
  }
}

.form {

  &__error-msg {
    color: $red;
    background: lighten($red, 33);
    padding: 20px;
    margin-bottom: 20px;
  }

  &__field:not(:last-child) {
    margin-bottom: 15px;
  }

  &__field-input {
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid;
  }

  &__field-input:focus {
    outline: none;
    border: 1px solid $primary;
  }

  &__field-label {
    margin-bottom: 5px;
  }
}

.summary-card:not(:last-child) {
  margin-bottom: 25px;
}